body {
    text-align:center;
    font-size:30px;
    background:#515E63;
    color:#EEEEEE;
}

img {
    width:60%;
    display: block;
    margin: 5% auto;
    border-radius: 30px;
}

#quote {
    margin: 3% 10%;
    color: #FFED99;
    font-size: 16px;
}

#button {
    background:#858588;
    color: #EEEEEE;
    font-size:16px;
    font-weight: bold;
    border-radius: 10px;
    padding:5px;
    margin:20px;
}
