body {
    text-align:center;
    font-size:30px;
    background:#515E63;
    color:#EEEEEE;
}

#quote {
    margin: 10%;
}

#button {
    background:#B2B1B9;
    color: #EEEEEE;
    font-size:20px;
    border-radius: 10px;
    padding:15px;
    margin:20px;
}
