body {
  text-align: center;
  font-size: 30px;
  background: #635158;
  color: #eeeeee;
}

img {
  width: 60%;
  display: block;
  margin: 5% auto;
  border-radius: 10px;
}

#quote {
  margin: 3% 10%;
  color: #ffed99;
  font-size: 16px;
}

#button {
  color: #3f3c3c;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  margin: 20px;
}

@media (min-device-width: 1081px) {
  img {
    margin: 2% auto;
    width: 20%;
  }

  #quote {
    margin: 2% 30%;
    font-size: 24px;
  }

  #button {
    font-size: 24px;
    padding: 10px;
  }
}
